
{% extends 'base.html' %}

{% block content %}

    <h1>Add Movie</h1>
    <form method="post"，action="{{ url_for('add_movie') }}">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.movie_name.label }} {{ form.movie_name }}
        {{ form.release_date.label }} {{ form.release_date }}
        {{ form.country.label }} {{ form.country }}
        {{ form.type.label }} {{ form.type }}
        {{ form.year.label }} {{ form.year }}
       
        <input class="btn" type="submit" name="submit" value="Add">
    </form>

    
{% endblock %}
