{% extends 'base.html' %}

{% block content %}

    <h1>Query Movies</h1>
    
    <form method="post" action="{{ url_for('query_movies') }}">
        {{ form.csrf_token }}
        <label for="search_term">Search Term:</label>
        <input type="text" name="search_term" id="search_term" placeholder="Enter movie name">
        <input class="btn" type="submit" name="submit" value="Search">
    </form>

    <h2>Results</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Release Date</th>
                <th>Country</th>
                <th>Type</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.movie_name }}</td>
                    <td>{{ movie.release_date }}</td>
                    <td>{{ movie.country }}</td>
                    <td>{{ movie.type }}</td>
                    <td>{{ movie.year }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
